:root {
  --color-text: #333;
  --color-primary: #708A58;
  --color-light: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100vh;
}

body {
  color: var(--color-text);
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

img,
picture {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

.container {
  max-width: 72rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.display {
  font-family: "Yellowtail", cursive;
}

.display--1 {
  font-size: 2rem;

  @media only screen and (min-width: 768px) {
    font-size: 4rem;
  }

  @media only screen and (min-width: 992px) {
    font-size: 6rem;
  }
}

.hero {
  background-color: var(--color-primary);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-light);
  padding-top: 8rem;
  padding-bottom: 8rem;
}
