:root {
  --color-text: #333;
  --color-dark: #333;
  --color-light: #fff;
  --color-primary: #708A58;
}

$color-text: var(--color-text);
$color-dark: var(--color-dark);
$color-light: var(--color-light);
$color-primary: var(--color-primary);

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $color-text;
  font-size: 1rem;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;
}
