.hero {
  background-color: var(--color-primary);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-light);
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media only screen and (min-width: 768px) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  @media only screen and (min-width: 1200px) {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}

.hero__inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero__title {
  font-size: 2rem;

  @media only screen and (min-width: 768px) {
    font-size: 3rem;
  }

  @media only screen and (min-width: 1200px) {
    font-size: 4rem;
  }
}

.hero__text {
  font-size: 1rem;

  @media only screen and (min-width: 768px) {
    font-size: 1.25rem;
  }

  @media only screen and (min-width: 1200px) {
    font-size: 1.5rem;
  }
}
