<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <header class="hero hero--dark" style="background-image: url({{ '/assets/images/hero.jpg' | relative_url }}); ">
      <div class="container hero__inner">
        <h1>
          {{ page.title }}
        </h1>

        <p>
          {{ page.description }}
        </p>

        <a class="button" href="{{ page.cta.link }}">{{ page.cta.label }}</a>
      </div>
    </header>
    {{ content }}
  </body>
</html>
